* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
footer{
    display: flex;
    border: solid ;
    background-color: #0D1117;
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
nav{
    background-color: rgb(244, 235, 224);
    display: flex;
    justify-content: space-between;
}

body{
    background-color: #F8FAFC;
}


img{
    width: 150px;
    height: 150px;
    display: inline;
}

.contenedor_logos{
    display: flex;
    margin: 0;
}

.enlaces{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1.5rem;
    margin-right: 5%;
    
}
.footer_logo{
    width: 10%;
    height: 10%;
    display: inline;
    
}
p{
    color: aliceblue;
}
div{
    border: #F8FAFC solid;
}

