* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
footer{
    display: flex;
    border: solid ;
    background-color: #0D1117;
    height: 300px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
nav{
    
    display: flex;
    justify-content: space-between;
}

body{
    background-color: #F8FAFC;
}


img{
    width: 150px;
    height: 150px;
    display: inline;
}

.contenedor_logos{
    display: flex;
    border: #000 solid 1px;
    width: 40%;
    height: 50px;
}

.contenedor_nav_enlaces{
    display: flex;
    justify-content: space-evenly;
    border: #000 solid 1px;
    width: 60%;
    background-color: #F8FAFC;
    height: 50px;
    align-items: center;

    
    
}
.enlaces_nav{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1d1f21;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.enlaces_nav:hover{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #15803D;;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.enlaces_nav--inicio{
    text-decoration:underline ;
    text-decoration-thickness: 2px;     
    text-underline-offset: 3px;
    color: #22C55E;
}

.enlaces_nav--inicio:hover{
    text-decoration:underline ;
    text-decoration-thickness: 2px;     
    text-underline-offset: 3px;
}

.boton_apagado {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    color: #6d7670;
    font-size: 30px;
    border: 1px solid #6d7670 ;
    justify-content: center;
    align-items: center;
    padding: 1px;
}

.boton_apagado:hover {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    color: #474848;
    font-size: 30px;
    border: 1px solid #1b1c1c ;
    justify-content: center;
    align-items: center;
    padding: 1px;
    cursor: pointer;
    background-color: #aaa;
}



.footer_logo{
    width: 10%;
    height: 10%;
    display: inline;
    
}

.footer_div{
    border-right: #86EFAC solid 1px;
    padding: 2%;
    
}

.enlaces_footer{
    list-style: none;
}

.texto_footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 15px;
    
}

.titulo_footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #22C55E;
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
}


.link_footer{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.link_footer:hover{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #15803D;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.nombre_footer{
    display: inline;
    color: #33ed77;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.boton_contacteme{
    border-radius: 25px;
    height: 50%;
    width: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #000;
    background-color: #22C55E;
    border: none;
}

.boton_contacteme:hover{
    border-radius: 25px;
    height: 50%;
    width: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #000;
    background-color: #15803D;
    border: none;
    cursor: pointer;
}
